# Project
pytest
python-dotenv
tomli

# IO
aiohttp
requests
aiofiles
orjson

olefile
# unstructured[all-docs]
unstructured[docx,pdf] @ git+https://github.com/uoneway/unstructured.git@feat/deal_file_only_in_memory
xlsxwriter

# Server
# uvicorn
# fastapi
python-multipart
streamlit
streamlit-extras~=0.3.6
streamlit-authenticator~=0.2.3

openai==0.28.1
tiktoken
retry==0.9.2
json-repair>=0.10.1

PyDrive2