# Project
pytest
python-dotenv
tomli

# IO
aiohttp
requests
aiofiles
orjson

olefile
# unstructured[all-docs]
unstructured[docx,pdf] @ git+https://github.com/uoneway/unstructured.git@feat/deal_file_only_in_memory

# Server
# uvicorn
# fastapi
python-multipart
streamlit

openai
tiktoken
retry==0.9.2